$color-1: #1BBEF5;
$color-2: #1BECA6;
$color-3: #627784;
$color-4: #A4B0B6;
$opacity: 0.2;
@mixin bg_ln_mix($color-1, $color-2, $opacity) {
    background: linear-gradient(to right, rgba($color-1, $opacity), rgba($color-2, $opacity));
}